body{
  background-color: bisque;
  align-content: center;
  text-align: center;
}
h1{
  font-size: large;
}
button{
  padding: 10px;
  border-radius: 2px;

}
.Heading_style{
  font-size: 30px;
  padding: 20px;
  color: rgb(8, 149, 149);
  margin-top: 0%;
  background-color: rgb(27, 25, 25);
}
.cards{
  display: inline-block;
  position: relative;
  margin: 50px;
  padding-top: 50px;
  box-shadow: 20px; 
}
.card{
  border-radius: 28px;
  height: 550px;
  width: 400px;
  background-color: azure;
  box-sizing: content-box;
   
}
.card__img{
  border-radius: 28px 0px;
  width: 400px;
  height: 400px;
}
.card__category{
  font-weight: bold;
  font-size: 20px;
  box-sizing: content-box;
  background-color: aquamarine;
  border-color: black;
  padding: 3px;
  border-radius: 1cm;
}